---
http_interactions:
- request:
    method: post
    uri: https://api.mailchimp.com/3.0/lists/list_id_abcde/members
    body:
      encoding: UTF-8
      string: '{"email_address":"person2@example.com","status":"subscribed"}'
    headers:
      Authorization:
      - Basic YW55c3RyaW5nOm15X21haWxjaGltcF9hcGlfdG9rZW4=
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/ProblemDetailDocument.json>; rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"type":"http://developer.mailchimp.com/documentation/mailchimp/guides/error-glossary/","title":"API
        Key Invalid","status":401,"detail":"Your API key may be invalid, or you''ve
        attempted to access the wrong datacenter.","instance":"9d3a9a50-d74f-4df5-a683-c8e9aae35b23"}'
  recorded_at: Wed, 27 Mar 2019 03:37:17 GMT
recorded_with: VCR 4.0.0
